* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100>;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/images/background_main_white.jpg);
}

.index_body {
  margin: 30px;
  padding: 0;
  background-image: url(/images/background_main_white.jpg);
}

.header_image {
  background-image: url(./images/webdev_navbar.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 250px;
  padding: 25px;
}

.main_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 55px;
  color: rgb(233, 232, 232);

  border-radius: 20px;
}

.top_nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  font-size: x-large;
  color: #777;
}

.top_nav div p {
  display: inline-block;
  margin: 29.88px;
}
.top_nav p a {
  text-decoration: none;
  color: #777;
}
.top_nav a:hover {
  background-color: rgba(255, 255, 255, 0.297);
  color: rgb(31, 156, 146);
  cursor: pointer;
  will-change: transform;
}
div.container {
  width: 100%;
  overflow: auto;
}
div.container div {
  width: 33%;
  float: left;
  text-align: center;
  color: rgb(32, 34, 36);
  font-weight: bold;
  font-size: larger;
}

.ul_footer {
  list-style: none;
}
.ul_footer li {
  display: inline-block;
}

/*-------flex -------*/

.section_container {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.gap_50px {
  gap: 50px;
}

.div_left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 46%;
  background-color: #77777744;
  padding-left: 10px;
}

.div_right {
  /* flex: 1; */
  width: 50%;
  background-color: #77777744;
}

.image_css_vs_html {
  width: fit-content;
  height: auto;
  float: right;
}

.hr_solid_5px_grey {
  border: 5px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* --------display GRID -----------*/

/* .container_grid {
  display: grid;
  grid-template-columns: auto auto;
}

.container_child_grid {
  height: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

/*-------------------------*/
a {
  text-decoration: none;
}

p {
  line-height: 25px;
}

.height_line_25px {
  line-height: 25px;
}
.textbox_code {
  padding: 2px 10px 2px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f4f463;
  text-align: center;
  margin: 16px 0;
  box-shadow: 2px 2px 5px #7c7b7b, 0px 0px 0px #131313, 0px 0px 0px #f7f5f5;
  border-radius: 6px;
}

.display_center {
}
/* .indented-text {
  text-indent: 60px;} /* Indents the first line of text */

/*-----------------------------------------------Despre----------------------------------------*/

.main_header {
  background-position: center;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
}

.top_nav_despre {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: bold;
  font-size: x-large;
  color: #777;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.top_nav_despre div p {
  display: inline-block;
  margin: 29.88px;
}
.top_nav_despre p a {
  color: rgb(250, 124, 20);
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(51, 3, 226) #fff;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  text-decoration: none;
  letter-spacing: 1px;
}
.top_nav_despre a:hover {
  background-color: #000000a8;
  transition: 0.7s;
  cursor: pointer;
}

.top_nav_despre a:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #fafafa;
  transition: 0.7s;
}

.top_nav_despre a:active {
  background-color: #01000c;
}

.background_color_none {
  background-color: unset;
}

.name {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(250, 124, 20);
  font-size: 1.2em;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.profile_picture_container {
  align-self: center;
  margin-right: 2rem;
}
.profile_picture {
  display: flex;
  width: 400px;
  height: 400px;
  margin: auto 0;
  aspect-ratio: 1;
  border-radius: 50%;
}
.profile_text {
  align-self: center;
  text-align: center;
}

.profile_text p {
  font-weight: 600;
}

.profile_text_p1 {
  text-align: center;
}
.profile_text_p2 {
  text-align: 1.75rem;
  margin-bottom: 1rem;
}

.profile_section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.socials-container {
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

@media screen and (max-width: 1125px) {
  .nav_elements {
    display: none;
  }
}

/* -------------------------------------------------Formulare------------------------------------------- */

.body_formular {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 10px;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form_container {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_title {
  font-size: 25px;
  font-weight: 500;
}

.form_user_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .form_user_details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.form_user_details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.form_user_details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.form_user_details .input-box input:focus,
.form_user_details .input-box input:valid {
  border-color: #9b59b6;
}

.gender_details .gender_title {
  font-size: 20px;
  font-weight: 500;
}

.gender_details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: flex-start;
}

.gender_details .category label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.gender_details .category input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.form_button {
  display: block;
  gap: 10px;
  height: 45px;
  margin: 45px 0;
}

.form_button div input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.form_button div input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .form_container {
    max-width: 100%;
  }
  .form_user_details .input-box {
    margin-bottom: 15px;
    width: 100px;
  }
  .gender_details .category {
    width: 100%;
  }
  .form_user_details {
    max-height: 300px;
  }
}

/*-----------------------------------------CSS--------------------------------------*/

/*W3School Slide in (top) Image Hover Overlay effect*/

.body_css {
  margin: 25px 25px 0 25px;
}

.img-container-css {
  position: relative;
  margin: 0 -25px 0 -25px;
}

.image_css {
  display: block;
  width: 100%;
  height: auto;
}

.overlay_image_css {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008cba;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
}

.img-container-css:hover .overlay_image_css {
  bottom: 0;
  height: 100%;
}

.overlay_image_css_text {
  white-space: nowrap;
  color: white;
  font-size: 80px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*section*/

.css_tipuri {
  display: flex;
}
.css_tipuri_exemplu {
  display: flex;
  justify-content: center;
}
.img_css_tipuri_exemplu {
  width: 95%;
  margin: 0;
}

.font_italic {
  font-style: italic;
}
.container_table_selectori_css {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.table_selectori_css {
  border: 1px solid #777;

  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}

.table_selectori_css tr:nth-child(even) {
  background-color: #71b7e653;
}

/*-------------INDEX-----------------------------------------------------------------------------------------------------*/

.top_nav_index {
  display: flex;
  justify-content: right;
  flex-direction: row;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.top_nav_index a {
  color: rgb(250, 124, 20);
  font-weight: bold;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(51, 3, 226) #fff;
  padding: 15px;
  min-height: 30px;
  min-width: 120px;
  text-decoration: none;
  letter-spacing: 1px;
}

.top_nav_index a:hover {
  background-color: #012894a8;
  transition: 0.7s;
  cursor: pointer;
}

.top_nav_index a:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #fafafa;
  transition: 0.7s;
}

.top_nav_index a:active {
  background-color: #01000c;
}

.img_color_table {
  background-color: none;
}

.hex_formula {
  display: flex;
  justify-content: center;
  font-weight: 1000;
  font-size: x-large;
  line-height: 1.6;
}

.hex_formula_red {
  color: red;
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-color: red;
}
.hex_formula_green {
  color: green;
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-color: green;
}
.hex_formula_blue {
  color: blue;
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-color: blue;
}

/* -------------------------------------------------------Home DEV Tools --------------------------------------------------*/
.tools_nav_container {
  padding: 20px;
  background: linear-gradient(100deg, #008cba, #ccc);
  display: flex;
}

.tools_nav_images img {
  height: 70px;
  width: 70px;
  margin-left: 0;
}
.tools_nav_list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.tools_nav_list li {
  display: inline-flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 500;
  gap: 100px;
}

.tools_nav_list li a:hover {
  color: #0c8eca;
}

.tools_nav_list li:hover {
  color: #ca780c;
}

.tools_nav_list li a {
  text-decoration: none;
}
.tools_content {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
}
.tools_content p {
  line-height: 25px;
}
.tools_content h1 {
  font-weight: 550;
}
.tools_content ol li a {
  text-decoration: none;
  color: #ca780c;
  font-size: larger;
}

/* --------------------------------Git--------------------- */

.git_nav_images img {
  height: 101px;
  margin: 0;
  width: auto;
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 30%;
}

.git_nav_container {
  padding: 20px;
  display: flex;
  background: linear-gradient(100deg, #db5507, #f7f7f5);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.git_nav_list {
  justify-content: right;
  gap: 90px;
}
.git_nav_list li {
  display: inline-flex;
  justify-content: start;
  font-size: 25px;
  font-weight: 500;
  gap: 100px;
}

.git_nav_list li a:hover {
  color: #e9090953;
}

/* ----------------------------------------GitHUb----------------------------- */

.gitgub_nav_images {
  margin-bottom: 40px;
}

/* background-color: rgba(255, 170, 102, 0.25); */
